
@using tr.Models.Transport;

@model TransportModel

<h1>Добавить транспорт</h1>

<form asp-action="Create">
    <div>
        <label asp-for="Brand"></label>
        <input asp-for="Brand" />
        <span asp-validation-for="Brand"></span>
    </div>
    <div>
        <label asp-for="Country"></label>
        <input asp-for="Country" />
        <span asp-validation-for="Country"></span>
    </div>
    <div>
        <label asp-for="Date"></label>
        <input asp-for="Date" />
        <span asp-validation-for="Date"></span>
    </div>
    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" />
        <span asp-validation-for="Price"></span>
    </div>
    <button type="submit">Создать</button>
</form>

<p>
    <a asp-action="Index">Вернутся к транспорту</a>
</p>
